<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<link rel="stylesheet" th:href="@{css/mystyle.css}">
		<script th:src="@{js/myscript.js}"></script>
	</head>
	<body>
		<br><br><br>
		<div class="container">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu metus ornare, accumsan sem at, gravida diam. Aliquam volutpat, leo ac elementum feugiat, elit dolor blandit orci, et ullamcorper arcu nisl et ipsum. Sed ullamcorper arcu vitae mauris tincidunt ornare. Nulla iaculis neque at nulla dictum elementum. In et cursus nunc. Ut iaculis tellus nec malesuada semper. Nulla semper eros vitae felis pellentesque, eu commodo neque pharetra.
			Phasellus quis nisl massa. Sed sollicitudin sed ligula a ultricies. Morbi suscipit justo ipsum, eu interdum lectus pharetra gravida. Etiam eleifend euismod lacus et elementum. Fusce quis ipsum id enim pulvinar luctus eu porttitor felis. Curabitur porta luctus quam non lobortis. Mauris condimentum, orci et pretium maximus, sem augue tincidunt tortor, vel ornare ante turpis eu dolor. Pellentesque massa est, laoreet in malesuada eu, sagittis ut libero.
			<br><br>
			<input type="button" value="Click" onclick="sayHello()">
		</div>
		<img th:src="@{images/gandhi.jpg}" width="500px">
	</body>
</html>